.tab-container {
	align-items: center;
	border: 1px solid #D7DBDD;
	border-radius: 6px;
	display: flex;
	margin: 0px 0px 40px 0px;
	padding: 0px 25px;	
}

.tabs {
	display: flex;
	padding: 15px 0px 0px 0px;
}

.tabs2 {
	display: flex;
	flex-direction: row-reverse;
	padding: 15px 0px 0px 0px;
}

.tabs3 {
	display: flex;
	justify-content: flex-end;
	padding: 15px 0px 0px 0px;
}

.tab-sub-container {
	padding-bottom: 14px;
	width: 100%;
}

.tabs li, .tabs2 li, .tabs3 li {
	color: #4EBBE4;
	cursor: pointer;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	margin-right: 60px;	
	margin-bottom: -2px;
	padding: 0px 25px 5px 25px;
}


.borde-btm {
	border-bottom: 3px solid #4EBBE4;
}

ul {
	border-bottom: 1px solid #D7DBDD;
	list-style: none;
}